My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11b931a6-ed42-4668-bf36-483d0abd1c29",
              "name": "city",
              "value": "={{$node[\"Split Location1\"].json[\"city\"]}}",
              "type": "string"
            },
            {
              "id": "7bc9a394-f130-43b0-a44c-6b33202aa8b3",
              "name": "name",
              "value": "={{$node[\"Split Location1\"].json[\"name\"]}}",
              "type": "string"
            },
            {
              "id": "36db596c-5501-4679-a7ef-41a916ad58ee",
              "name": "listId",
              "value": "={{$node[\"Split Location1\"].json[\"listId\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3504,
        1280
      ],
      "id": "579451e3-6435-4daa-9b0c-fe305d4f5388",
      "name": "Pass Location Info"
    },
    {
      "parameters": {
        "url": "https://api.cc.email/v3/contact_lists?limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2384,
        960
      ],
      "id": "1912d651-07bb-4fc3-8b13-89ef86eaf39f",
      "name": "HTTP Request1",
      "credentials": {
        "oAuth2Api": {
          "id": "9Ul5c97KvhvrQElH",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2384,
        1184
      ],
      "id": "9f2f4cdf-3acf-4b33-8238-2b706c6709fc",
      "name": "Morning1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "464d3923-6dd2-404f-8470-a59941fd9130",
              "name": "locations",
              "value": "[   {     \"name\": \"Dallas\",     \"city\": \"Dallas\",     \"resolverUrl\": \"https://dallas.hibid.com/company/17475/river-city-auction\",     \"listId\": \"LIST_ID_DALLAS\"   },   {     \"name\": \"Houston\",     \"city\": \"Houston\",     \"resolverUrl\": \"https://houston.hibid.com/company/17475/river-city-auction\",     \"listId\": \"LIST_ID_HOUSTON\"   },   {     \"name\": \"Sacramento\",     \"city\": \"Sacramento\",     \"resolverUrl\": \"https://rivercityfurnitureauction.hibid.com/\",     \"listId\": \"LIST_ID_SACRAMENTO\"   },   {     \"name\": \"Indiana\",     \"city\": \"Indiana\",     \"resolverUrl\": \"https://greatlakes.hibid.com/company/17475/river-city-auction\",     \"listId\": \"LIST_ID_INDIANA\"   } ]",
              "type": "array"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2608,
        1280
      ],
      "id": "6ab861ca-4eee-4d6e-a479-3971a41e08ec",
      "name": "Set Locations1"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Split Location (robust)\n * Input:  { locations: [ { name, city, resolverUrl, listId }, ... ] }\n * Output: one item per location with name, city, resolverUrl, listId\n */\nfunction s(v) { return (v == null ? '' : String(v)).trim(); }\n\n// Accept array from Set Locations\nconst locs = Array.isArray($json.locations) ? $json.locations : [];\n\nif (!Array.isArray(locs) || locs.length === 0) {\n  throw new Error('Split Location: expected array field \"locations\" from Set Locations.');\n}\n\n// Map of default resolver URLs if you don’t want to type them in Set Locations\nconst ORIGIN_BY_CITY = {\n  dallas:     'https://dallas.hibid.com',\n  houston:    'https://houston.hibid.com',\n  sacramento: 'https://rivercityfurnitureauction.hibid.com',\n  indiana:    'https://greatlakes.hibid.com',\n  indy:       'https://greatlakes.hibid.com'\n};\n\nreturn locs.map(raw => {\n  const name   = s(raw.name);\n  const city   = s(raw.city || raw.name);\n  const listId = s(raw.listId);\n\n  let resolver = s(raw.resolverUrl);\n  if (!resolver) {\n    resolver = ORIGIN_BY_CITY[city.toLowerCase()] || '';\n  }\n\n  return { json: { name, city, resolverUrl: resolver, listId } };\n});\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        1280
      ],
      "id": "c6ec13d6-0aa9-4fb6-894a-efe77ebf9413",
      "name": "Split Location1"
    },
    {
      "parameters": {
        "url": "={{$json.resolverUrl}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "html"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3056,
        1280
      ],
      "id": "ac412ebd-bab5-40ea-bd49-c69313c4055a",
      "name": "Fetch Resolver Page1",
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "html",
        "extractionValues": {
          "values": [
            {
              "key": "auctionLink",
              "cssSelector": "a[href*=\"/catalog/\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            },
            {
              "key": "auctionTitle",
              "cssSelector": "a[href*=\"/catalog/\"]",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        3280,
        1280
      ],
      "id": "6958a084-a2b0-4594-91fb-97684e046a1c",
      "name": "Extract Catalog Links1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                4
              ],
              "triggerAtHour": 18,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2384,
        1376
      ],
      "id": "730cffca-281e-4950-af57-3760fa259e31",
      "name": "Evening1"
    },
    {
      "parameters": {
        "jsCode": "const N = 12; // keep top N items\n\n// Make relative links absolute against the catalog URL\nconst toAbs = (u, baseUrl) => {\n  if (!u) return '';\n  if (/^https?:\\/\\//i.test(u)) return u;\n  try {\n    const base = new URL(baseUrl);\n    return new URL(u, base.origin).href;\n  } catch {\n    return u;\n  }\n};\n\nconst links  = $json.itemLink  || [];\nconst imgs   = $json.imgSrc    || [];\nconst titles = $json.itemTitle || [];\nconst prices = $json.price     || [];\n\nconst items = [];\nfor (let i = 0; i < titles.length; i++) {\n  const title = (titles[i] || '').trim();\n  const href = toAbs(links[i], $json.catalogUrl);\n  const imageUrl = toAbs(imgs[i], $json.catalogUrl);\n  const price = (prices[i] || '').trim();\n  if (title && href && imageUrl) {\n    items.push({ title, href, imageUrl, price });\n  }\n}\n\nreturn [{\n  ...$json,                   // keep name, city, listId, catalogUrl\n  items: items.slice(0, N)    // limit email length\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        1280
      ],
      "id": "7d63e883-296b-4169-93be-88532c3bf2c5",
      "name": "Build Item List1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "html",
        "extractionValues": {
          "values": [
            {
              "cssSelector": "a[href*=\"/lot/\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            },
            {
              "cssSelector": ".auction-item img, img.lot-image, img[src*=\"/lotimage/\"], img[src*=\"/lotimages/\"]",
              "returnValue": "attribute",
              "attribute": "src",
              "returnArray": true
            },
            {
              "cssSelector": ".lot-title, .item-title, a.lot-title, a[href*=\"/lot/\"]",
              "returnArray": true
            },
            {
              "cssSelector": ".current-bid, .price",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        4176,
        1280
      ],
      "id": "83084e2f-3368-41fb-b562-74d1c6d1522c",
      "name": "Extract Lots1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "/**\n * Render Email HTML\n * Inputs expected on $json:\n *   name        -> city name (e.g., \"Dallas\")\n *   listId      -> Constant Contact list id for the city\n *   catalogUrl  -> resolved catalog URL for the city\n *   items[]     -> array of { title, href, imageUrl, price }\n *   subject?    -> optional subject from AI node\n *   intro?      -> optional intro line from AI node\n *   isMorning?  -> optional flag to tweak UTM & tone\n *\n * Outputs on $json:\n *   email_html  -> full HTML (custom code) for Constant Contact\n *   subject     -> final subject line\n *   preheader   -> short preview text\n *\n * Notes:\n * - Includes [[trackingImage]] for Constant Contact open tracking.\n * - Adds basic UTM params to item links for AM/PM and city tracking.\n * - Mobile-safe single-column layout (wide compatibility).\n */\n\nconst city       = ($json.name || 'Auction').trim();\nconst items      = Array.isArray($json.items) ? $json.items : [];\nconst isMorning  = !!$json.isMorning; // if you set this earlier\nconst catalogUrl = $json.catalogUrl || '';\n\n/* ---------- helpers ---------- */\nfunction esc(s = '') {\n  return String(s)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;');\n}\n\nfunction ensureAbs(u) {\n  if (!u) return '';\n  if (/^https?:\\/\\//i.test(u)) return u;\n  try {\n    const base = new URL(catalogUrl || 'https://rivercityfurnitureauction.hibid.com/');\n    return new URL(u, base).href;\n  } catch {\n    return u;\n  }\n}\n\nfunction addUtm(u, citySlug, when) {\n  const url = ensureAbs(u);\n  const sep = url.includes('?') ? '&' : '?';\n  return `${url}${sep}utm_source=cc&utm_medium=email&utm_campaign=auction_${citySlug}_${when}`;\n}\n\nfunction pick(arr = [], n = 12) {\n  return arr.slice(0, n);\n}\n\nfunction words(s = '', max = 25) {\n  const parts = s.split(/\\s+/).filter(Boolean);\n  return parts.slice(0, max).join(' ');\n}\n\nconst citySlug = city.toLowerCase().replace(/\\s+/g, '-');\nconst whenTag  = isMorning ? 'am' : 'pm';\n\n/* ---------- subject + intro + preheader ---------- */\nlet subject = ($json.subject || '').trim();\nif (!subject) {\n  const opts = [\n    `${city} Auction Highlights`,\n    `${city} Fresh Finds Today`,\n    `${city} Deals You’ll Love`,\n    `${city} Top Picks Right Now`,\n  ];\n  subject = opts[Math.floor(Math.random() * opts.length)];\n}\n// keep subject to ~8 words, just in case\nsubject = words(subject, 8);\n\nlet intro = ($json.intro || '').trim();\nif (!intro) {\n  const top = pick(items, 3).map(i => i.title).filter(Boolean);\n  const sample = top.join(', ');\n  intro = isMorning\n    ? `Early picks in ${city}: ${sample}.`\n    : `Tonight in ${city}: ${sample}.`;\n}\nintro = words(intro, 25);\n\nconst preheader = words(\n  items.length\n    ? `New lots in ${city}. Pickup available. No reserves.`\n    : `Browse ${city} auction items now.`,\n  18\n);\n\n/* ---------- build item cards (single column for max compatibility) ---------- */\nconst cardsHTML = pick(items, 12).map((i) => {\n  const title = esc(i.title || '');\n  const price = (i.price || '').trim();\n  const href  = addUtm(i.href || '#', citySlug, whenTag);\n  const img   = ensureAbs(i.imageUrl || '');\n\n  return `\n  <tr>\n    <td style=\"padding:12px 0;\">\n      <a href=\"${esc(href)}\" target=\"_blank\">\n        <img src=\"${esc(img)}\" alt=\"${title}\" style=\"width:100%;max-width:560px;display:block;border:0;outline:0;text-decoration:none;\" />\n      </a>\n      <div style=\"font:14px Arial, Helvetica, sans-serif;margin-top:8px;color:#111;line-height:1.4;\">\n        <strong>${title}</strong><br/>\n        ${price ? `<span>${esc(price)}</span><br/>` : ``}\n        <a href=\"${esc(href)}\" target=\"_blank\" style=\"text-decoration:underline;color:#1155cc;\">View on HiBid →</a>\n      </div>\n    </td>\n  </tr>`;\n}).join('\\n');\n\n/* ---------- final HTML (custom code email) ---------- */\nconst email_html = `<!doctype html>\n<html>\n  <head>\n    <meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n    <title>${esc(subject)}</title>\n    <!-- Basic, email-safe styles only -->\n  </head>\n  <body style=\"margin:0;padding:0;background:#ffffff;\">\n    [[trackingImage]]\n    <center>\n      <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"max-width:600px;margin:0 auto;\">\n        <tr>\n          <td style=\"padding:18px 14px 8px 14px;font:22px Arial, Helvetica, sans-serif;color:#111;\">\n            ${esc(subject)}\n          </td>\n        </tr>\n\n        <tr>\n          <td style=\"padding:0 14px 16px 14px;font:16px Arial, Helvetica, sans-serif;color:#444;line-height:1.5;\">\n            ${esc(intro)}\n          </td>\n        </tr>\n\n        <tr>\n          <td style=\"padding:0 14px;\">\n            <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n              ${cardsHTML || `\n              <tr><td style=\"padding:12px 0;font:14px Arial, Helvetica, sans-serif;color:#555;\">\n                No items found. Please check back soon.\n              </td></tr>`}\n            </table>\n          </td>\n        </tr>\n\n        <tr>\n          <td style=\"padding:18px 14px 28px 14px;font:12px Arial, Helvetica, sans-serif;color:#777;line-height:1.4;\">\n            You’re receiving this because you opted in at River City Furniture Auction.\n            Pickup required; no shipping unless noted. Unsubscribe via the link in the footer.\n          </td>\n        </tr>\n      </table>\n    </center>\n  </body>\n</html>`;\n\n/* ---------- return ---------- */\nreturn [{\n  ...$json,\n  email_html,\n  subject,\n  preheader\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5200,
        1280
      ],
      "id": "5ace35c9-e655-474a-b8ba-1b8403964592",
      "name": "Render Email HTML1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cc.email/v3/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"name\": \"{{$json.name}} | Daily Highlights {{ (new Date()).toISOString().slice(0,10) }}\",\n  \"email_campaign_activities\": [\n    {\n      \"format_type\": 5,\n      \"from_name\": \"River City Furniture Auction\",\n      \"from_email\": \"rivercityfurnitureauction@gmail.com\",\n      \"reply_to_email\": \"rivercityfurnitureauction@gmail.com\",\n      \"subject\": \"{{$json.subject}}\",\n      \"preheader\": \"{{$json.preheader}}\",\n      \"html_content\": \"{{$json.email_html}}\"\n    }\n  ]\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{$json.name}} | Auction {{ (new Date()).toISOString().slice(0,10) }}\",\n  \"email_campaign_activities\": [\n    {\n      \"format_type\": 5,\n      \"from_name\": \"River City Furniture Auction\",\n      \"from_email\": \"rivercityfurnitureauction@gmail.com\",\n      \"reply_to_email\": \"rivercityfurnitureauction@gmail.com\",\n      \"subject\": \"{{$json.subject}}\",\n      \"preheader\": \"{{$json.preheader}}\",\n      \"html_content\": \"{{$json.email_html}}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5424,
        1280
      ],
      "id": "0bea2eaa-3feb-4eb1-b19f-5542f7f218a4",
      "name": "CC — Create Email1",
      "credentials": {
        "oAuth2Api": {
          "id": "9Ul5c97KvhvrQElH",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7ac5f9e-8a96-49c1-8aee-112176cd7522",
              "name": "activityId",
              "value": "={{$json[\"email_campaign_activities\"][0][\"campaign_activity_id\"]}}",
              "type": "string"
            },
            {
              "id": "d321d5a8-0b28-4d21-8aad-7fd24c0698e1",
              "name": "listId",
              "value": "={{$json.listId}}",
              "type": "string"
            },
            {
              "id": "01df2a60-433f-4d78-bcb5-b6dce1e60f62",
              "name": "subject",
              "value": "={{$json.subject}}",
              "type": "string"
            },
            {
              "id": "eba6c5a4-7cfd-4cbe-a25c-8149c5920986",
              "name": "email_html",
              "value": "={{$json.email_html}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5648,
        1280
      ],
      "id": "57e9c70e-b3ec-4fa4-bc79-664fad5af6e7",
      "name": "Pick Activity ID1"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.cc.email/v3/emails/activities/{{$json[\"email_campaign_activities\"][0][\"campaign_activity_id\"]}}\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Content-Type\": \"application/json\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"campaign_activity_id\": \"{{$json[\"email_campaign_activities\"][0][\"campaign_activity_id\"]}}\",\n  \"role\": \"primary_email\",\n  \"format_type\": 5,\n  \"from_name\": \"River City Furniture Auction\",\n  \"from_email\": \"rivercityfurnitureauction@gmail.com\",\n  \"reply_to_email\": \"rivercityfurnitureauction@gmail.com\",\n  \"subject\": \"{{$json.subject}}\",\n  \"html_content\": \"{{$json.email_html}}\",\n  \"contact_list_ids\": [\"{{$json.listId}}\"]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5872,
        1280
      ],
      "id": "61ee7a94-b2bc-4cc1-9992-06adc6f1d33f",
      "name": "CC — Update Activity (Add List)1",
      "credentials": {
        "oAuth2Api": {
          "id": "9Ul5c97KvhvrQElH",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cc.email/v3/emails/activities/{{$json[\"email_campaign_activities\"][0][\"campaign_activity_id\"]}}/schedules\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"scheduled_date\": \"2025-08-26T00:00:00Z\" }\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6096,
        1280
      ],
      "id": "0d09789e-a9db-4df8-b3cf-26d93b977ed0",
      "name": "CC — Schedule Send1",
      "credentials": {
        "oAuth2Api": {
          "id": "9Ul5c97KvhvrQElH",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "You are a concise marketing copywriter for a daily online auction. \nWrite punchy subjects (max 8 words) and one-line intros (max 25 words).\nThe subject MUST include the city name provided. Avoid repeating wording day to day.\nNever include emojis or ALL CAPS. Return a strict JSON object only.\n",
              "role": "=City: {{$json.name}}\nDate (ISO): {{(new Date()).toISOString().slice(0,10)}}\nTop items today: {{ ($json.items || []).slice(0,4).map(i => i.title).join(', ') }}\n\nWrite a JSON object with exactly these keys:\n{\n  \"subject\": \"string (≤ 8 words, must include the city name at the start)\",\n  \"intro\": \"string (≤ 25 words, natural tone, mention 1–2 of the items above)\"\n}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4624,
        1280
      ],
      "id": "c12a78b9-028a-444a-98a9-279f85dacc42",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "7PxQv2DDaJCBSarn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n OpenAI node typically returns content at $json.choices[0].message.content\n// but we’ll guard for other shapes too.\nlet raw = $json;\nlet content =\n  raw?.choices?.[0]?.message?.content ??\n  raw?.data?.choices?.[0]?.message?.content ??\n  (typeof raw === 'string' ? raw : '');\n\nlet subject = '';\nlet intro = '';\n\ntry {\n  const obj = JSON.parse(content);\n  subject = (obj.subject || '').trim();\n  intro   = (obj.intro || '').trim();\n} catch (e) {\n  // Fallback: try to extract \"subject:\" and \"intro:\" lines if JSON wasn’t clean\n  const s = /\"subject\"\\s*:\\s*\"([^\"]+)\"/i.exec(content);\n  const i = /\"intro\"\\s*:\\s*\"([^\"]+)\"/i.exec(content);\n  subject = s ? s[1] : '';\n  intro   = i ? i[1] : '';\n}\n\n// Enforce city at start, uniqueness, and length limits\nconst city = $json.name || '';\nfunction startsWithCity(str, cityName) {\n  return str.toLowerCase().startsWith(cityName.toLowerCase());\n}\nfunction trimWords(str, maxWords) {\n  const parts = (str || '').split(/\\s+/).filter(Boolean);\n  return parts.slice(0, maxWords).join(' ');\n}\nif (!startsWithCity(subject, city)) {\n  subject = `${city} ${subject}`;\n}\nsubject = trimWords(subject, 8);\n\n// Guarantee subjects differ across locations by including city code\n// (since city is at the start, each location's subject is inherently different).\n// But also ensure no empties:\nif (!subject) subject = `${city} Auction Highlights`;\nif (!intro)   intro   = `Fresh picks in ${city} today.`;\n\nreturn [{\n  ...$json,\n  subject,\n  intro\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4976,
        1280
      ],
      "id": "8c48082b-2270-4cc0-8024-de9df9031976",
      "name": "Parse AI Subject & Intro1"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Choose Current Catalog\n * Input:  auctionLink[], auctionTitle[], plus `city` from Split Location\n * Output: catalogUrl (absolute https://... URL)\n */\n\nconst cityRaw = ($json.city || $json.name || '').trim();\nconst city = cityRaw.toLowerCase();\nconst links  = $json.auctionLink  || [];\nconst titles = $json.auctionTitle || [];\n\n// Pick link whose title contains the city, fallback to first\nlet chosen = null;\nfor (let i = 0; i < links.length; i++) {\n  const t = String(titles[i] || '').toLowerCase();\n  if (city && t.includes(city)) { chosen = links[i]; break; }\n}\nif (!chosen && links.length) chosen = links[0];\nif (!chosen) throw new Error('No catalog link found.');\n\n// Normalize path\nlet path = String(chosen).trim();\n\n// Map of city → base origin\nconst ORIGIN_BY_CITY = {\n  dallas:     'https://dallas.hibid.com',\n  houston:    'https://houston.hibid.com',\n  sacramento: 'https://rivercityfurnitureauction.hibid.com',\n  indiana:    'https://greatlakes.hibid.com',\n  indy:       'https://greatlakes.hibid.com'\n};\n\n// Build absolute\nlet catalogUrl;\nif (/^https?:\\/\\//i.test(path)) {\n  catalogUrl = path;\n} else {\n  const origin = ORIGIN_BY_CITY[city];\n  if (!origin) throw new Error(`No origin mapped for city \"${cityRaw}\"`);\n  catalogUrl = origin + (path.startsWith('/') ? path : '/' + path);\n}\n\nreturn [{ ...$json, catalogUrl }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        1280
      ],
      "id": "ef1e0821-722c-4bda-9822-10ec1d9ee94b",
      "name": "Choose Current Catalog1"
    },
    {
      "parameters": {
        "url": "={{\n  (function () {\n    const raw = String($json.catalogUrl || '').trim();         // from the Set node above\n    if (!raw) throw new Error('catalogUrl is empty');\n    if (raw.startsWith('http')) return raw;                    // already absolute\n\n    const resolver = String($json.resolverUrl || '').trim();   // still available from earlier\n    const origin = resolver.split('/').slice(0, 3).join('/');  // e.g., https://dallas.hibid.com\n    if (!origin) throw new Error('Missing resolverUrl origin');\n\n    return origin + (raw.startsWith('/') ? raw : '/' + raw);\n  })()\n}}\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "html"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3952,
        1280
      ],
      "id": "6f76dbac-c41c-4ac2-bd13-4de6ac39c5fa",
      "name": "Fetch Catalog1"
    }
  ],
  "pinData": {},
  "connections": {
    "Pass Location Info": {
      "main": [
        [
          {
            "node": "Choose Current Catalog1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Morning1": {
      "main": [
        [
          {
            "node": "Set Locations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Locations1": {
      "main": [
        [
          {
            "node": "Split Location1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Location1": {
      "main": [
        [
          {
            "node": "Fetch Resolver Page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Resolver Page1": {
      "main": [
        [
          {
            "node": "Extract Catalog Links1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Catalog Links1": {
      "main": [
        [
          {
            "node": "Pass Location Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evening1": {
      "main": [
        [
          {
            "node": "Set Locations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Item List1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lots1": {
      "main": [
        [
          {
            "node": "Build Item List1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Email HTML1": {
      "main": [
        [
          {
            "node": "CC — Create Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CC — Create Email1": {
      "main": [
        [
          {
            "node": "Pick Activity ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Activity ID1": {
      "main": [
        [
          {
            "node": "CC — Update Activity (Add List)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CC — Update Activity (Add List)1": {
      "main": [
        [
          {
            "node": "CC — Schedule Send1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Parse AI Subject & Intro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Subject & Intro1": {
      "main": [
        [
          {
            "node": "Render Email HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Choose Current Catalog1": {
      "main": [
        [
          {
            "node": "Fetch Catalog1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Catalog1": {
      "main": [
        [
          {
            "node": "Extract Lots1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a9dcedad-9790-4ba6-83bc-63dcac6af3b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "28deb88c8712c76659afb08e6c8c4d238b4b31b6137eabce7a182ee77c96db3f"
  },
  "id": "6YzFFkzTNCEUL39d",
  "tags": []
}